




# Energy Consumption Data Notebook 1: Preparing Our Data For Analysis



---

### Goals For This Notebook:

1 - Import weather and power data.<br>

2 - Do some Exploratory Data Analysis to see what information the data contains.<br>

3 - Rename, reorganize, and add columns so the data is easier to understand, including splitting timestamp data into separate date, month, and time columns.<br>

4 - Merge the data to create one dataframe.<br>

5 - Save our data into a new csv file.<br>

---

### Table of Contents

1 - [Weather Data](#section1)<br>

2 - [Power Data](#section2)<br>

3 - [Merging Data](#section3)<br>

4 - [Datetime](#section4)<br>

5 - [Saving Data](#section5)<br>

---

In this notebook, you will get to know energy consumption data through Exploratory Data Analysis. In particular, you will be looking at two datasets: 1) Weather data collected during the study and 2) Power consumption data of various appliances at the pilot site. You will clean the weather and power consumption data sets and then merge the two datasets together for further data analysis in future notebooks.

Let's first get started by importing the libraries we need:

In [6]:
import pandas as pd
import numpy as np

## 1. Weather Data <a id='section1'></a>

Import "weather_data_2021.csv" using `pd.read_csv()` and save it to the variable `weather` so that we can use it throughout the notebook. Import "weather_data_2021.csv" using `pd.read_csv()` and save it to the variable `weather` so that we can use it throughout the notebook. We must include the fact that the file is saved in the folder _data_, so the computer knows where to look for the csv file! We add the foldername before the filename and add a slash (/) between - e.g. 'data/results.csv'

In [7]:
# EXERCISE

weather = pd.read_csv("data/weather_data_2021.csv")

Let's do some Exploratory Data Analysis! What do you think that the column "Unnamed: 0" represents? Do you think you know what any of the columns mean? How many rows and columns are there?

Remember you can always refer to notebooks 06 and 07 from the intro to Python unit.

In [8]:
#Exploratory Data Analysis 1 - Try to see the first or last couple rows

weather.head() #or .tail()

            Unnamed: 0    oat  humidity  windspeed  cloudcover  solar   sr
0  2021-01-01 00:00:00  43.56      98.0       2.87        0.37    0.0  0.0
1  2021-01-01 00:15:00  43.41      98.0       2.93        0.38    0.0  0.0
2  2021-01-01 00:30:00  43.28      98.0       2.98        0.41    0.0  0.0
3  2021-01-01 00:45:00  43.35      98.0       3.00        0.44    0.0  0.0
4  2021-01-01 01:00:00  43.47      98.0       2.97        0.50    0.0  0.0

In [9]:
#Exploratory Data Analysis 2 - How many rows do we have?

len(weather)

11283

In [10]:
#Exploratory Data Analysis 3 - What columns do we have?

weather.columns

Index(['Unnamed: 0', 'oat', 'humidity', 'windspeed', 'cloudcover', 'solar',
       'sr'],
      dtype='object')

In [11]:
#Exploratory Data Analysis 4 - Your choice!

weather.describe()

,oat,humidity,windspeed,cloudcover,solar,sr
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,48.235356,80.409062,5.442032,0.549084,116.431905,116.431905
std,6.091980,13.899516,2.928060,0.353249,160.660044,160.660044
min,32.750000,29.000000,1.170000,0.000000,0.000000,0.000000
25%,43.940000,71.000000,3.210000,0.190000,0.000000,0.000000
50%,48.120000,83.000000,4.670000,0.600000,0.000000,0.000000
75%,51.940000,92.000000,6.977500,0.890000,229.348261,229.348261
max,74.300000,100.000000,17.820000,1.000000,534.999361,534.999361

Looking at the table, some of the columns are hard to understand. Lets rename some of the columns in the table. 

We can rename columns by: `dataframe.rename(columns = {"current column name": "new column name", ....})`

In the cell below, we will rename `Unnamed: 0` into `Timestamp`

Follow the same pattern to rename `oat` to `outdoor air temperature (F)` and `solar` as `solar irradiance on PV panels (watts/m^2)`

In [12]:
# EXERCISE - rename your columns!

weather = weather.rename(columns = {"Unnamed: 0": "Timestamp",
                          "oat": "outdoor air temperature (F)", #SOLUTION
                         "solar": "solar irradiance on PV panels (Watt per m^2)"}) #SOLUTION
weather.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),sr
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,0.0
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,0.0
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,0.0
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,0.0
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,0.0

The last thing we need to do is get rid of unnecessary information. If you look at the dataframe, `solar irradiance on PV panels (Watt per m^2)` and `sr` have the same information.

Being a data scientist required you to look up code! Look up (on Google) how to delete columns in Pandas and delete the `sr` column. (There are multiple ways to do this!)

***Make sure your group shows the instructor the method you found and that you successfully removed the `sr` column***

In [13]:
# EXERCISE - Delete the sr column. Make sure to check with an instructor before moving on!

weather.pop("sr") #Solution
#del weather["sr"] #Another solution
#weather = weather.drop(["sr"], axis = 1) #Another solution

weather.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2)
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0

In the cell below, find the number of null values in each of the columns in the weather dataframe.

*Hint: Look at section 1.6 in 07 Pandas DataFrames Notebook*

In [14]:
# EXERCISE - Find the count of null values
weather.isnull().sum() #SOLUTION

Timestamp                                          0
outdoor air temperature (F)                     1705
humidity                                        1705
windspeed                                       1705
cloudcover                                      1705
solar irradiance on PV panels (Watt per m^2)    1705
dtype: int64

## 2. Power Data <a id='section2'></a>

Import "power_2021.csv" and save it to the variable `power` so that we can use it throughout the notebook. Again, don't forget that it is saved in the folder _data._

In [15]:
# EXERCISE

power = pd.read_csv("data/power_2021.csv")

Similar to weather data, do some Exploratory Data Analysis! What do you think that the column "Unnamed: 0" represents? Do you think you know what any of the columns mean? How many rows and columns are there?

In [16]:
#Exploratory Data Analysis 1 - Try to see the first or last couple rows

power.head() #or tail()

,Unnamed: 0,building,freezer,ref_comp,ref_fan,hvac_west,hvac_east
0,2021-01-01 00:00:00,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481
1,2021-01-01 00:01:00,36656.937500,3770.058350,4248.507324,248.749298,304.752869,950.882324
2,2021-01-01 00:02:00,32910.871094,3835.689209,16.447287,455.978119,304.320740,952.724670
3,2021-01-01 00:03:00,NaN,NaN,14.377525,253.222122,NaN,NaN
4,2021-01-01 00:04:00,32478.332031,3964.204102,NaN,NaN,304.013855,954.450806

In [17]:
#Exploratory Data Analysis 2 - How many rows do we have?

len(power)

169243

In [18]:
#Exploratory Data Analysis 3 - What columns do we have?

power.columns

Index(['Unnamed: 0', 'building', 'freezer', 'ref_comp', 'ref_fan', 'hvac_west',
       'hvac_east'],
      dtype='object')

In [19]:
#Exploratory Data Analysis 4 - Your choice, but try something you haven't used yet!

power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169243 entries, 0 to 169242
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  169243 non-null  object
 1   building    121328 non-null  float64
 2   freezer     121327 non-null  float64
 3   ref_comp    121327 non-null  float64
 4   ref_fan     121326 non-null  float64
 5   hvac_west   121326 non-null  float64
 6   hvac_east   121328 non-null  float64
dtypes: float64(6), object(1)
memory usage: 9.0+ MB

Looking at the table, some of the columns are hard to understand. Lets rename some of the columns in the table. Do the same thing you did for the weather dataframe. 

In the cell below, rename `Unnamed: 0` to `Timestamp`.

Rename `building` to `building total power consumption (watts)`

Rename `freezer` to `freezer power consumption (watts)`

Rename `ref_comp` to `refrigerator power consumption (watts)`

Rename `ref_fan` to `refrigerator fan power consumption (watts)`

Rename `hvac_west` to `west air conditioning power consumption (watts)`

Rename `hvac_east` to `east air conditioning power consumption (watts)`

In [20]:
# EXERCISE

#rename your columns here
power = power.rename(columns = {"Unnamed: 0": "Timestamp", 
                             "building": "building total power consumption (Watts)", 
                             "freezer": "freezer power consumption (Watts)", #SOLUTION
                             "ref_comp": "refrigerator power consumption (Watts)", #SOLUTION
                             "ref_fan": "refrigerator fan power consumption (Watts)", #SOLUTION
                             "hvac_west": "west air conditioning power consumption (Watts)", #SOLUTION
                             "hvac_east": "east air conditioning power consumption (Watts)" #SOLUTION
                            })
power.head()

,Timestamp,building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts)
0,2021-01-01 00:00:00,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481
1,2021-01-01 00:01:00,36656.937500,3770.058350,4248.507324,248.749298,304.752869,950.882324
2,2021-01-01 00:02:00,32910.871094,3835.689209,16.447287,455.978119,304.320740,952.724670
3,2021-01-01 00:03:00,NaN,NaN,14.377525,253.222122,NaN,NaN
4,2021-01-01 00:04:00,32478.332031,3964.204102,NaN,NaN,304.013855,954.450806

Similar to the weather data, find the total number of null values in the power dataframe.

In [21]:
# EXERCISE - Find the count of null data
power.isnull().sum()

Timestamp                                              0
building total power consumption (Watts)           47915
freezer power consumption (Watts)                  47916
refrigerator power consumption (Watts)             47916
refrigerator fan power consumption (Watts)         47917
west air conditioning power consumption (Watts)    47917
east air conditioning power consumption (Watts)    47915
dtype: int64

## 3. Merging Data <a id='section3'></a>

In data science, we do not usually just use one dataframe. We often have multiple datasets that we want to use to analyze data. In order to do this, we need to **merge** (put together / join) the datasets together. To merge data, we need to find a column to merge on.

The syntax for merging data tables is: 

`dataframe1.merge(dataframe2, on= "column name that the two dataframes have in common")`

What column name do both the dataframes have in common? Keep that in mind for how you merge the table.

In [22]:
# EXERCISE - Merge the two dataframes together
weather_and_power = weather.merge(power, on="Timestamp")
weather_and_power.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts)
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,30975.056641,3969.495605,14.195988,43.110699,304.558319,958.440125
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,31915.005859,3835.891602,12.848112,253.175949,304.966461,1015.086365
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,30087.257812,357.424866,10.164385,43.093910,302.546539,957.893921
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,29074.365234,3796.636475,9.275864,42.858944,NaN,NaN

Add a column in the weather_and_power dataframe called `total power consumption (Watts)` that is the **sum** of all the power consumption columns.

In [23]:
# EXERCISE - add your columns
weather_and_power["total power consumption (Watts)"] = (weather_and_power["building total power consumption (Watts)"]+
                                                 weather_and_power["freezer power consumption (Watts)"]+ 
                                                 weather_and_power["refrigerator power consumption (Watts)"]+ #SOLUTION
                                                 weather_and_power["refrigerator fan power consumption (Watts)"]+ #SOLUTION
                                                 weather_and_power["west air conditioning power consumption (Watts)"]+ #SOLUTION
                                                 weather_and_power["east air conditioning power consumption (Watts)"]) #SOLUTION

***Run the cell below and double check with an instructor that your `total power consumption` column's numbers are correct.***

In [24]:
weather_and_power.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts),total power consumption (Watts)
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481,37921.120996
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,30975.056641,3969.495605,14.195988,43.110699,304.558319,958.440125,36264.857376
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,31915.005859,3835.891602,12.848112,253.175949,304.966461,1015.086365,37336.974348
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,30087.257812,357.424866,10.164385,43.093910,302.546539,957.893921,31758.381433
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,29074.365234,3796.636475,9.275864,42.858944,NaN,NaN,NaN

## 4. Datetime <a id='section4'></a>

In this section, we are going to want to look at how we can use datetime methods to clean up our datatable and make it a bit easier to understand.

In [25]:
# import the datetime module
from datetime import datetime

The values of the Timestamp column represent dates and times of when the data for each section of the building was collected. However, since the data type of the column is a `str()`, it will be harder to access information like the date and time to answer what day of the week most energy was used, what hour had the least energy consumption, etc. So first, we will need to convert it to a correct data type.

In [26]:
weather_and_power["Better Timestamp"] = pd.to_datetime(weather_and_power["Timestamp"])

In [27]:
# Run this cell to get the date, time, and month into seperate columns
weather_and_power["date"] = [d.date() for d in weather_and_power['Better Timestamp']]
weather_and_power["time"] = weather_and_power['Better Timestamp'].apply(lambda x: x.time())
weather_and_power["month"] = pd.DatetimeIndex(weather_and_power['date']).month


#converting 24-hour clock time to 12-hour time
def changeformat(time):
    if time.hour > 12:
        newtime = str(time.hour - 12) + (str(time))[2:5] + "pm"
        return newtime
    if time.hour == 12:
        newtime = (str(time))[:5] + "pm"
        return newtime
    if time.hour == 0:
        newtime = "12" + (str(time))[2:5] + "am"
        return newtime
    if type(time) != str:
        newtime = (str(time))[:5] + "am"
        return newtime
    
weather_and_power["12-hr-time"] = weather_and_power["time"].apply(changeformat)

Let's see what our columns and dataframe look like now.

In [28]:
weather_and_power.columns

Index(['Timestamp', 'outdoor air temperature (F)', 'humidity', 'windspeed',
       'cloudcover', 'solar irradiance on PV panels (Watt per m^2)',
       'building total power consumption (Watts)',
       'freezer power consumption (Watts)',
       'refrigerator power consumption (Watts)',
       'refrigerator fan power consumption (Watts)',
       'west air conditioning power consumption (Watts)',
       'east air conditioning power consumption (Watts)',
       'total power consumption (Watts)', 'Better Timestamp', 'date', 'time',
       'month', '12-hr-time'],
      dtype='object')

In [29]:
weather_and_power.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts),total power consumption (Watts),Better Timestamp,date,time,month,12-hr-time
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481,37921.120996,2021-01-01 00:00:00,2021-01-01,00:00:00,1,12:00am
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,30975.056641,3969.495605,14.195988,43.110699,304.558319,958.440125,36264.857376,2021-01-01 00:15:00,2021-01-01,00:15:00,1,12:15am
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,31915.005859,3835.891602,12.848112,253.175949,304.966461,1015.086365,37336.974348,2021-01-01 00:30:00,2021-01-01,00:30:00,1,12:30am
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,30087.257812,357.424866,10.164385,43.093910,302.546539,957.893921,31758.381433,2021-01-01 00:45:00,2021-01-01,00:45:00,1,12:45am
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,29074.365234,3796.636475,9.275864,42.858944,NaN,NaN,NaN,2021-01-01 01:00:00,2021-01-01,01:00:00,1,01:00am

## 5. Saving Data <a id='section5'></a>

Let's save our dataframe. Save it as "weather_and_power.csv"

The syntax for saving a dataframe is `datatable.to_csv("name you want")`. As we want to save it in our _data_ folder, we will add that before the name of the file.

We will use this cleaned dataset in our next notebook.

In [30]:
# EXERCISE

weather_and_power.to_csv("data/weather_and_power.csv")

Notebook developed by: Rachel McCarty, Kseniya Usovich, Alisa Bettale